<div class="homepage-header bg-primary text-white py-3">
  <div class="container">
    <h1 class="m-0">Benvenuto sulla Homepage</h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <h2 class="card-title display-4 mb-4">Benvenuto!</h2>
          <p class="card-text lead">Scegli un'opzione per continuare.</p>
          <div class="d-flex justify-content-center mb-4">
            <button type="button" class="btn btn-primary btn-lg" style="margin-right: 10px;" (click)="goToLogin()">Login</button>
            <button type="button" class="btn btn-success btn-lg" (click)="goToRegister()">Registrati</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
