.header {
  background-color: #007bff; /* Colore di sfondo */
  color: #ffffff; /* Colore del testo */
  padding: 20px; /* Spaziatura interna */
  display: flex; /* Utilizza il layout flessibile */
  justify-content: space-between; /* Allinea gli elementi ai lati opposti */
  align-items: center; /* Allinea verticalmente al centro */
}

.header h1 {
  margin: 0; /* Rimuovi il margine dal titolo */
}

.custom-btn {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: #286090;
  border-color: #204d74;
}

.custom-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
