<div class="header bg-primary text-white py-3">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <h1 class="m-0">Benvenuto, <span class="text-dark">{{ localStorage.getItem('username') }}</span></h1>
      </div>
      <div class="col-auto">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <p class="lead text-center">Accedi alle sezioni dedicate premendo i pulsanti sottostanti.</p>

  <div class="button-container mt-4 mb-4">
    <button class="btn btn-primary custom-btn" (click)="checkWasteDisposals()">Verifica stato cassonetti</button>
    <button class="btn btn-primary custom-btn" (click)="getAllCleaningPaths()">Recupera tutti i percorsi di pulizia</button>
  </div>

  <div *ngIf="loadingData" class="loading-container">
    <p class="alert alert-info">Caricamento in corso...</p>
  </div>

  <div *ngIf="routeData && routeData.length > 0" class="route-container mt-4">
    <h3>Percorsi di pulizia:</h3>
    <div class="card-deck">
      <ng-container *ngFor="let route of routeData; let i = index">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title" *ngIf="route.position === 0 || i === 0">Percorso: {{ getRouteCounter(i) }}</h5>
            <p class="card-text">Location: {{ route.binLocation }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="checkResult" class="result-container">
    <p class="alert alert-success">{{ checkResult }}</p>
  </div>

  <div *ngIf="overloadedBins && overloadedBins.length > 0" class="overloaded-bins-container mt-4">
    <h3 class="text-danger">Cassonetti in sovrabbondanza:</h3>
    <ul class="list-group">
      <li *ngFor="let bin of overloadedBins" class="list-group-item d-flex justify-content-between align-items-center">
        {{ bin.location }}
        <button class="btn btn-primary" (click)="emptyBin(bin.id)">Svuota</button>
        <div *ngIf="successMessage " class="alert alert-success">{{ successMessage }}</div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Lista di tutti i cassonetti:</h3>
      <div class="card" *ngFor="let bin of binsForMap">
        <div class="card-body">
          <p class="card-text">Posizione: {{ bin.location }}</p>
          <button class="btn btn-primary" (click)="selectBin(bin)">Seleziona</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Cassonetti selezionati:</h3>
      <div class="card" *ngFor="let selectedBin of selectedBins">
        <div class="card-body">
          <p class="card-text">Posizione: {{ selectedBin.location }}</p>
          <button class="btn btn-danger" (click)="removeSelectedBin(selectedBin)">Rimuovi</button>
        </div>
      </div>
      <button class="btn btn-primary" (click)="saveCleaningPaths()">Salva ordine e genera percorsi di pulizia</button>
      <div *ngIf="successMessagePath " class="alert alert-success"> {{ successMessagePath }} </div>
    </div>
    <p></p>
  </div>

</div>
