<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center m-0">Login</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="login()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Inserisci il tuo username" [(ngModel)]="loginData.username" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Inserisci la tua password" [(ngModel)]="loginData.password" name="password" required>
              <p></p>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Accedi</button>
            <p></p>
          </form>
          <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
          <div class="mt-3 text-center">
            <a routerLink="/" class="btn btn-link"><i class="bi bi-arrow-left"></i> Torna alla Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
